#container {
    margin: 0px auto;
    width: 900px;
}

#game, #game * {
    box-sizing: content-box;
}

#game {
    position: relative;
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0;
    float: left;
    outline: 1px solid black;
}

#game .tile {
    width: 100px;
    height: 100px;
    outline: 1px solid #b4b4b4;
    float: left;
    line-height: 88px;
    text-align: center;
    font-size: 100px;
}
